@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h3 {
    text-align: center;
}

.clear {
    clear: both;
}

.col {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.col-third {
    width: calc(100%/3);
    line-height: 2;
}

.col-four {
    width: calc(100%/5);
}

.row {
    margin-left: -10px;
    margin-right: -10px;

}

#main {
    background-color: #FEBBCC;
}

#header {
    height: 46px;
    background-color: #FFEECC;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 100%;
    align-items: stretch;
}

.logo {
    line-height: 46px;
    width: 40px;
    margin-left: 10px;
    margin-top: 3px;
}

#nav>li {
    display: inline-block;

}

#nav li {
    position: relative;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    top: 100%;
    position: absolute;
    background-color: #FFDDCC;
    color: black;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;

}

#nav li:hover .subnav {
    display: block;
}

#nav>li>a {
    color: #000000;
    text-transform: uppercase;
}

#nav {
    display: inline-block;
    position: relative;
    z-index: 1;

}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}

#nav .subnav li:hover a,
#nav>li:hover>a {
    color: rgba(0, 0, 0, 0.3);
    background-color: #FFCCCC;
}

#nav .subnav a {
    color: black;
    padding: 0 50px 0 12px;
    line-height: 38px;
}

#nav .ti-angle-down {
    font-size: 12px;
}

#header .mobile-menu-btn,
#header .search_btn {
    float: right;
    padding: 0 20px;
}

#header .search_btn:hover {
    cursor: pointer;
    background-color: #FFCCDD;
}

#header .mobile-menu-btn:hover {
    opacity: 0.2;
}

#header .mobile-menu-btn,
#header .search_icon {
    color: #000000;
    font-size: 20px;
    line-height: 46px;
}

#body {
    padding: 50px;
}

.slideshow-container {

    position: relative;
    margin: auto;
    z-index: 0;
    display: flex;
    overflow: hidden;

}

.slide {
    flex: 0 0 auto;
    width: 100%;
    transition: transform 1s ease-in-out;
}

.slideshow-container img {
    width: 100%;
    height: auto;

}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.product-list {
    margin: 5px -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.sp-item {
    margin: 10px;
    min-width: 190px;
}
.sp-img {
    width: 100%;
    display: block;
}
.sp-img:hover {
    opacity: 0.6;
}
.content-sp {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.sp-heading {
    font-size: 15px;
    font-weight: 600px;
    height: 30px;
    margin-bottom: 20px;
}
.sp-price {
    margin-top: 5px;
    color: #757575;
}
.sp-mota {
    margin-top: 15px;
    line-height: 1.5;
    height: 40px;
    margin-bottom: 15px;
}
.btn-call {
    color: black;
    background-color: #FEBBCC;
    padding: 11px 16px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    border-color: #FFEECC;
}
.btn-view {
    color: black;
    background-color: #FFEECC;
    padding: 11px 16px;
    text-decoration: none;
    display: inline-block;
    border-color: #FFDDCC;
    margin-top: 15px;
}
.btn {
    display: flex;
    justify-content: center;
}
.btn-call:hover {
    color: black;
    background-color: #ffd582;
}
.btn-view:hover {
    color: black;
    background-color: #ffb28c;
}
#footer {
    max-width: 100%;
}
.footer-container {
    background-color: #ffeecc;
    padding: 10px 50px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
.footer-content {
    width: calc(100%/5);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    margin-left: 5px;
}
.footer-infor {
    list-style-type: none;
    line-height: 2;
}
.infor {
    line-height: 3.5;
}
.infor a {
    text-decoration: none;
    color: black;
}
.footer-icon {
    font-size: 30px;
}
span {
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
}
.footer-icon a {
    text-decoration: none;
    color: black;
}
.footer-img {
    border-radius: 20%;
    margin-top: 10px;
    width: 200px;
}

/* Mui ten lên dau trang */
#myBtn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: grey;
    border: 2px solid #ccc;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    opacity: 0.7;
}
#myBtn:hover {
    background-color: #f1f1f1;
}

/*PC*/
@media (min-width: 1024px) {
    #header .mobile-menu-btn {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .content-sp {
        background-color: #fff;
        padding: 16px;
        font-size: 15px;
        width: 200px;
    }
    .sp-img {
        width: 200px;
        display: block;
    }
    #header .mobile-menu-btn {
        display: none;
    }
    .infor {
        line-height: 2;
    }
    #nav li a {
        text-decoration: none;
        line-height: 46px;
        padding: 0px 18px;
        display: block;
    }
    .footer-container {
        justify-content: space-evenly;
    }
    .footer-content {
        width: calc(100%/3);
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
        margin-left: 5px;
        margin-top: 10px;
    }
    .footer-img {
        margin-top: -10px;
    }
}

/* Mobile */
@media (max-width: 740px) {
    .product-list {
        max-width: none;
    }
    .content-sp {
        background-color: #fff;
        padding: 16px;
        font-size: 15px;
        width: 170px;
    }
    #header .search_btn {
        display: none;
    }
    .sp-img {
        width: 170px;
        display: block;
    }
    #nav {
        display: block;
    }
    #nav>li {
        display: block;
    }
    #nav .subnav {
        position: initial;
    }
    #header {
        overflow: hidden;
    }
    #nav {
        display: block;
    }
    .footer-content {
        width: calc(100%/2);
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
        margin-left: 5px;
    }
}
x
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
   body{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background-color: white;
  } 
  
  .footer {
    position: relative;
    width: 100%;
    background: #ffeecc;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
  }
  
  .icon-elem {
    list-style: none;
  }
  
  .icon {
    color: #FEBBCC;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
  }
  
  .icon:hover {
    transform: translateY(-10px);
  }

  .menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  .menu-elem{
    list-style: none;
  }
  .menu-icon{
    color: #FEBBCC;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 1;   
  }
  .menu-icon:hover{
    opacity: 0.5;
  }
  .textft{
    color: #FEBBCC;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
  }